﻿@model PizzaUserOrderDTO
@{
}

<div class="participantOrder">
    <div class="form-group">
        <label asp-for="@Model.UserName"></label>
        <div class="row">
            <div class="col-sm-3 col-xs-10">
                <input name="@(ViewData["UserOrderPrefix"].ToString() + ".UserName")" class="form-control" asp-for="@Model.UserName" />
            </div>
            <div class="col-sm-1 col-xs-2">
                <div class="btn btn-danger" data-action="deleteParticipant">X</div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Pizza</th>
                <th>Number of slices</th>
            </tr>
        </thead>
        <tbody>
            @for (var j = 0; j < Model.OrderItems.Count; j++)
            {
                var orderItem = Model.OrderItems[j];

                ViewData["UserOrderItemPrefix"] = ViewData["UserOrderPrefix"].ToString() + ".OrderItems[" + j + "]";
                @Html.Partial("_userOrderItemPartialView", orderItem);
            }
        </tbody>
    </table>
    <div class="btn btn-success" data-action="addUserOrderItem">Add pizza type</div>
</div>