﻿@model PizzaUserOrderItemDTO
@{
}

<tr>
    <td>
        <div class="form-group">
            <select class="form-control"
                    name="@(ViewData["UserOrderItemPrefix"].ToString() + ".PizzaTypeId")"
                    asp-for="@Model.PizzaTypeId"
                    asp-items="@(new SelectList((IEnumerable<PizzaTypeDTO>)ViewData["PizzaTypes"], "PizzaTypeId", "Name"))">
                <option>Select a pizza</option>
            </select>
        </div>
    </td>
    <td>
        <input name="@(ViewData["UserOrderItemPrefix"].ToString() + ".NumberOfSlices")" class="form-control" asp-for="@Model.NumberOfSlices" />
    </td>
    <td>
        <div class="btn btn-danger" data-action='deleteUserOrderItem'>X</div>
    </td>
</tr>