﻿@model FPSC.Data.DTO.PizzaOrderDTO
@{
    ViewData["Title"] = "Index";
}

@section Init
{
    fpsc.order.init();
}

<h2>Nouvelle commande</h2>

<section>
    <h3>Menu</h3>
    <div class="row">
        @foreach (var pizzaType in ViewData["MenuItemsGrouped"] as List<IGrouping<string, PizzaMenuItemDTO>>)
        {
            <div class="col-sm-3">
                <b>@pizzaType.Key</b>
                <ul>
                    @foreach (var pizzaSize in pizzaType)
                    {
                        <li>@pizzaSize.PizzaSizeName = @pizzaSize.PizzaSizeNumberOfSlices slices, @pizzaSize.Price$</li>
                    }
                </ul>
            </div>
        }
    </div>
</section>
<section id="participants">
    <form asp-controller="Order" asp-action="Summary" method="post">
        <h3>Participants</h3>
        <div class="row">
            <div id="participantsList" class="col-md-12">
                @for (var i = 0; i < Model.UserOrders.Count; i++)
                {
                    var user = Model.UserOrders[i];

                    ViewData["UserOrderPrefix"] = "PizzaOrderDTO.UserOrders[" + i + "]";
                    @Html.Partial("_userOrderPartialView", user);
                }
            </div>
        </div>
        <div class="btn btn-success" data-action='addParticipant'>Add participant</div>
        <button class="btn btn-default" type="submit">Order</button>
    </form>
</section>

@section Scripts
    {
    <script id="template-UserOrder" type="text/template">
        @{ViewData["UserOrderPrefix"] = "PizzaOrderDTO.UserOrders[_idxI_]";}
        @Html.Partial("_userOrderPartialView", new PizzaUserOrderDTO() { OrderItems = new List<PizzaUserOrderItemDTO>() });
    </script>
    <script id="template-UserOrderItem" type="text/template">
        @{ViewData["UserOrderItemPrefix"] = ViewData["UserOrderPrefix"] + ".OrderItems[_idxJ_]";}
        @Html.Partial("_userOrderItemPartialView", new PizzaUserOrderItemDTO());
    </script>
}