﻿@model SummaryViewModel
@{
    ViewData["Title"] = "Index";
}

@section Init
    {
    $("#GrandTotal").change(function()
    {
    $("#TotalPerUser").val(parseFloat($("#GrandTotal").val())/@Model.TotalUsers);
    })
    $("#TotalPerUser").val(parseFloat($("#GrandTotal").val())/@Model.TotalUsers);
}

<h2>Order summary</h2>

<section>
    <h3>Menu</h3>
    <div class="row">
        @foreach (var pizzaType in ViewData["MenuItemsGrouped"] as List<IGrouping<string, PizzaMenuItemDTO>>)
        {
            <div class="col-sm-3">
                <b>@pizzaType.Key</b>
                <ul>
                    @foreach (var pizzaSize in pizzaType)
                    {
                        <li>@pizzaSize.PizzaSizeName = @pizzaSize.PizzaSizeNumberOfSlices slices, @pizzaSize.Price$</li>
                    }
                </ul>
            </div>
        }
    </div>
</section>
<section>
    <h3>Slices by person</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Pizza</th>
                        <th>Username</th>
                        <th>Number of slices requested</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sliceByPerson in Model.SliceByPeople)
                    {
                        <tr>
                            <td>@sliceByPerson.UserName</td>
                            <td>@sliceByPerson.PizzaTypeName</td>
                            <td>@sliceByPerson.NumberOfSlicesRequested</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3>Pizzas to order</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Pizza</th>
                        <th>Number of slices requested</th>
                        <th>Number of slices included</th>
                        <th>Total estimated price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pizzaToOrder in Model.PizzasToOrder)
                    {
                        <tr>
                            <td>@pizzaToOrder.MenuItem.PizzaTypeName</td>
                            <td>@pizzaToOrder.Quantity</td>
                            <td>@pizzaToOrder.NumberOfSlicesRequested</td>
                            <td>@pizzaToOrder.NumberOfSlicesIncluded</td>
                            <td>@pizzaToOrder.TotalEstimatedPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label asp-for="@Model.GrandTotal"></label>
            <input class="form-control" asp-for="@Model.GrandTotal" />
        </div>
        <div class="col-sm-2">
            <label for="TotalPerUser">Total per user</label>
            <input class="form-control" id="TotalPerUser" name="TotalPerUser" />
        </div>
    </div>
</section>