body {
    padding-top: 50px;
    background-image: url('https://images6.alphacoders.com/412/412086.jpg');
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8)
}

.participantOrder {
    padding: 15px 0;
    border-top: 2px solid #222;
}

    .participantOrder .form-group {
        margin-bottom: 0;
    }

    .participantOrder .table > tbody > tr > td {
        border-top: 0;
        padding: 4px;
    }

    .participantOrder .table > thead > tr > th {
        border-bottom: 0;
    }